/* Définition de html, body et flex-1 permettent de placer le footer en bas de page */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#logo {
    width: 40px;
    height: 40px;
}
.ml-logo-5 {
    margin-left: 5px;
}
.p-content {
    padding: 0.5em 15% 0.5em 15%;
}
.font-logo {
    font-family: initial;
}
.nav-link-active {
    color: #e99700;
}
.nav-link-active:hover, a.text-light:hover {
    color: blue !important;
}
.flex-1 {
    flex: 1;
}
.p-8 {
    padding: 8px;
}
footer {
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}