#logo {
    width: 40px;
    height: 40px;
}
.ml-logo-5 {
    margin-left: 5px;
}
.p-content {
    padding: 0.5em 15% 0.5em 15%;
}
.font-logo {
    font-family: initial;
}
.nav-link-active {
    color: #e99700;
}
.nav-link-active:hover {
    color: blue;
}