/* Définition de html, body et flex-1 permettent de placer le footer en bas de page */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#logo {
    width: 40px;
    height: 40px;
}
.ml-logo-5 {
    margin-left: 5px;
}
.p-content {
    padding: 0.5em 15% 0.5em 15%;
}
.font-logo {
    font-family: initial;
}
.nav-link-active {
    color: #e99700;
}
.nav-link-active:hover, a.text-light:hover {
    color: blue !important;
}
.flex-1 {
    flex: 1;
}
.p-8 {
    padding: 8px;
}
.titre-page {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    font-style: italic;
}
.titre-couleur-orange {
    color: #d18700;
}
.div-actualites {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 4%;
}
.fs-13 {
    font-size: 13px;
}
@media screen and (min-width: 992px) {
    .card {
        flex-basis: 47%;
        margin: 0 0 5% 0;
    }
}
@media screen and (max-width: 991px) {
    .card {
        flex-basis: 100%;
        margin: 0 0 10% 0;
    }
}
footer {
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}